<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
        <div class="banner-photo">
          <img src="images/couple2.jpg" width=240 />
        </div>
        <div class="banner-info">
          <header>
            <h2>Zoe &amp; Mike</h2>
          </header>
          <p>Are tying the knot</p>
          <p>29<sup>th</sup> September 2018</p>
          <footer>
            <ul class="buttons vertical">
              <li><a class="button" href="https://docs.google.com/forms/d/1JJ2uiJeWKBqV7O2pCW0vNK0grWHGe3WEIQ-0ODtrILI" target="_blank">RSVP</a></li>
              <li><a href="#the-story" class="scrolly find-out-more" style="color: #fff; text-align: bottom;">Find out more <i class="fa fa-arrow-down"></i></a></li>
            </ul>
          </footer>
          <!-- <footer>
              <ul class="buttons vertical">
                <li><a href="" class="button fit scrolly rsvp">RSVP</a></li>
              </ul>
          </footer> -->

    </div>

</section>
